In [1]:
import PyPDF2
import os
import pandas as pd
from natsort import natsorted

In [2]:
input_pdf_path = 'input_pdf/LOAD SCHEDULE - MDB (1).pdf'
output_directory = r"output/pdf/"

In [3]:
os.makedirs(output_directory, exist_ok=True)

In [4]:
with open(input_pdf_path, 'rb') as file:
    pdf_reader = PyPDF2.PdfReader(file)
    for page_num in range(21):
        pdf_writer = PyPDF2.PdfWriter()
        pdf_writer.add_page(pdf_reader.pages[page_num])

        output_path = os.path.join(output_directory, f'page_{page_num + 1}.pdf')

        with open(output_path, 'wb') as output_file:
            pdf_writer.write(output_file)
print('Extraction of pdf completed!')

Extraction of pdf completed!

In [5]:
pdf_directory = r'output/pdf/'
excel_directory = r'output/excel/'
data = []

In [6]:
import aspose.pdf as ap

for filename in os.listdir(pdf_directory):
    if filename.endswith('.pdf'):
        pdf_path = os.path.join(pdf_directory, filename)
        document = ap.Document(pdf_path)
        excel_filename = f'{os.path.splitext(filename)[0]}.xlsx'
        excel_path = os.path.join(excel_directory, excel_filename)
        save_option = ap.ExcelSaveOptions()
        document.save(excel_path, save_option)
print('Conversion to Excel complete!')

Conversion to Excel complete!

In [7]:
df1 = pd.read_excel(r'output/excel/page_1.xlsx')

In [8]:
sliced_dfs = {}
excel_files = natsorted([f for f in os.listdir(excel_directory) if f.endswith('.xlsx')])

In [9]:
for idx, filename in enumerate(excel_files):
    excel_path = os.path.join(excel_directory, filename)
    
    # Load the Excel file into a DataFrame
    df = pd.read_excel(excel_path)
    
    # Slice the DataFrame (rows 4 to 30)
    sliced_df = df.iloc[0:33]
    
    # Store the sliced DataFrame in the dictionary
    key = f'df{idx + 1}'
    sliced_dfs[key] = sliced_df

    # Save the sliced DataFrame to a CSV file
    csv_filename = f'{key}.csv'
    csv_path = os.path.join(excel_directory, csv_filename)
    sliced_dfs[key].to_csv(csv_path, index=False)

print('Slicing, storing, and saving DataFrames complete!')

Slicing, storing, and saving DataFrames complete!

In [10]:
total_nan_rows = 0
for key, sliced_df in sliced_dfs.items():
    nan_rows_count = sliced_df.isna().all(axis=1).sum()
    total_nan_rows += nan_rows_count
print(f'Total number of rows with only NaN values: {total_nan_rows}')

Total number of rows with only NaN values: 91

In [11]:
cleaned_dfs = {}

In [12]:
for idx, (key, df) in enumerate(sliced_dfs.items(), start=1):
    # Ensure working with a copy to avoid warnings
    df = df.copy()
    
    # Drop rows where all elements are NaN
    cleaned_df = df.dropna(how='all').copy()
    
    # Dynamically create a key like df1, df2, etc.
    cleaned_dfs[f'df{idx}'] = cleaned_df
print('Rows with only NaN values have been removed from all DataFrames.')

Rows with only NaN values have been removed from all DataFrames.

In [13]:
for key, df in cleaned_dfs.items():
    # Check if the DataFrame has at least five columns
    if df.shape[1] >= 6:
        # Rename the columns as specified
        df.columns = [
            df.columns[0],  # Keep the first column name unchanged
            'POLE',
            'FS/IS', # Rename the third column to 'ACB'
            'ACB/MCCB',         # Rename the fourth column to 'MCCB'
            'MCB',          # Rename the fifth column to 'MCB'
            'FAULT DUTY'    # Rename the sixth column to 'FAULT DUTY'
        ] + list(df.columns[6:])  # Keep the remaining columns unchanged

        # Keep only the first 8 columns
        df = df.iloc[:, :8]
        
        cleaned_dfs[key] = df

print('Columns have been renamed and trimmed to the first 8 columns in all DataFrames.')

Columns have been renamed and trimmed to the first 8 columns in all DataFrames.

In [14]:
cleaned_dfs['df7']

,Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd.,POLE,FS/IS,ACB/MCCB,MCB,FAULT DUTY,Unnamed: 6,Unnamed: 7
0,PAGE - SCH - 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IAN BANHAM & ASSOCIATES,ELECTRICAL,NaN,NaN,NaN,NaN,NaN,NaN
2,PROJECT :,B+G+M+1 FLOOR CAR SHOWROOM & OFFICE BUILDING D...,NaN,NaN,NaN,NaN,NaN,NaN
3,SMDB REF :,SMDB - BN,NaN,NaN,NaN,NaN,NaN,CONSULTANT :
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SR.,CIRCUIT,SP/,RATING - AMPS,NaN,NaN,FAULT,PVC/XLPE
6,NO,FEEDER\nDB NO.,TP,ACB,MCCB,MCB,DUTY\nKA,SWA/PVC/SC
7,NaN,INCOMER,TP,NaN,500\n(N/A),NaN,30,XLPE/SWA/PVC
8,NaN,OUTGOING,NaN,NaN,NaN,NaN,NaN,NaN
9,1,DB-BN1,TP,NaN,40,NaN,30,XLPE/SWA/PVC
10,2,DB-BN2,TP,NaN,40,NaN,30,XLPE/SWA/PVC
11,3,POLISHING BAY,TP,NaN,80,NaN,30,XLPE/SWA/PVC
12,4,POLISHING BAY,TP,NaN,80,NaN,30,XLPE/SWA/PVC
13,5,USED OIL PUMP,TP,NaN,40,NaN,30,XLPE/SWA/PVC
14,6,COMPRESSOR ROOM,TP,NaN,80,NaN,30,XLPE/SWA/PVC
15,7,CAR WASH,TP,NaN,80,NaN,30,XLPE/SWA/PVC
16,8,CAR WASH,TP,NaN,80,NaN,30,XLPE/SWA/PVC
17,9,SPARE,TP,NaN,63,NaN,30,--
21,SMDB - BN,CONNECTED TO,NaN,LV MDB-1,NaN,NaN,TOTAL CONNECTED LOAD PER PHASE,NaN
22,NaN,DEMAND FACTOR…… MAX. DEMAND…...…kW TOTAL CONNE...,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,CONSULTANTS : M/S. IAN BANHAM AND ASSOCIATES,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Type of Meter (Rating of Incomer) :,NaN,NaN,NaN,(1) UPTO 60A,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,(1 PHASE),NaN,NaN
26,NaN,NaN,NaN,* REFER SINGLE LINE DIAGRAM FOR ELCB RATING,NaN,NaN,NaN,NaN

In [15]:
# for key, df in cleaned_dfs.items():
#     df = df.dropna(thresh=df.shape[1] - 7)
#     cleaned_dfs[key] = df

# print('deleted row more that 3 nan values')

In [16]:
cleaned_dfs['df7']

,Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd.,POLE,FS/IS,ACB/MCCB,MCB,FAULT DUTY,Unnamed: 6,Unnamed: 7
0,PAGE - SCH - 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IAN BANHAM & ASSOCIATES,ELECTRICAL,NaN,NaN,NaN,NaN,NaN,NaN
2,PROJECT :,B+G+M+1 FLOOR CAR SHOWROOM & OFFICE BUILDING D...,NaN,NaN,NaN,NaN,NaN,NaN
3,SMDB REF :,SMDB - BN,NaN,NaN,NaN,NaN,NaN,CONSULTANT :
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SR.,CIRCUIT,SP/,RATING - AMPS,NaN,NaN,FAULT,PVC/XLPE
6,NO,FEEDER\nDB NO.,TP,ACB,MCCB,MCB,DUTY\nKA,SWA/PVC/SC
7,NaN,INCOMER,TP,NaN,500\n(N/A),NaN,30,XLPE/SWA/PVC
8,NaN,OUTGOING,NaN,NaN,NaN,NaN,NaN,NaN
9,1,DB-BN1,TP,NaN,40,NaN,30,XLPE/SWA/PVC
10,2,DB-BN2,TP,NaN,40,NaN,30,XLPE/SWA/PVC
11,3,POLISHING BAY,TP,NaN,80,NaN,30,XLPE/SWA/PVC
12,4,POLISHING BAY,TP,NaN,80,NaN,30,XLPE/SWA/PVC
13,5,USED OIL PUMP,TP,NaN,40,NaN,30,XLPE/SWA/PVC
14,6,COMPRESSOR ROOM,TP,NaN,80,NaN,30,XLPE/SWA/PVC
15,7,CAR WASH,TP,NaN,80,NaN,30,XLPE/SWA/PVC
16,8,CAR WASH,TP,NaN,80,NaN,30,XLPE/SWA/PVC
17,9,SPARE,TP,NaN,63,NaN,30,--
21,SMDB - BN,CONNECTED TO,NaN,LV MDB-1,NaN,NaN,TOTAL CONNECTED LOAD PER PHASE,NaN
22,NaN,DEMAND FACTOR…… MAX. DEMAND…...…kW TOTAL CONNE...,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,CONSULTANTS : M/S. IAN BANHAM AND ASSOCIATES,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Type of Meter (Rating of Incomer) :,NaN,NaN,NaN,(1) UPTO 60A,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,(1 PHASE),NaN,NaN
26,NaN,NaN,NaN,* REFER SINGLE LINE DIAGRAM FOR ELCB RATING,NaN,NaN,NaN,NaN

In [17]:
combined_df = pd.concat(cleaned_dfs.values(), ignore_index=True)

# Count occurrences of each product in the first column
product_counts = combined_df.iloc[:, 0].value_counts().to_dict()

# Add the count column to each DataFrame in cleaned_dfs
for key, df in cleaned_dfs.items():
    # Use .loc[] to avoid SettingWithCopyWarning
    df['Count'] = df.iloc[:, 0].map(product_counts).fillna(0).astype(int)

    # Update the DataFrame in the dictionary
    cleaned_dfs[key] = df

print('Count column has been added to each DataFrame in cleaned_dfs.')

Count column has been added to each DataFrame in cleaned_dfs.

C:\Users\USER\AppData\Local\Temp\ipykernel_24144\1023208774.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Count'] = df.iloc[:, 0].map(product_counts).fillna(0).astype(int)

In [18]:
cleaned_dfs['df17']

,Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd.,POLE,FS/IS,ACB/MCCB,MCB,FAULT DUTY,Unnamed: 6,Unnamed: 7,Count
0,PAGE - SCH - 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,IAN BANHAM & ASSOCIATES,ELECTRICAL,NaN,NaN,NaN,NaN,NaN,NaN,20
2,PROJECT :,NaN,B+G+M+1 FLOOR CAR SHOWROOM & OFFICE BUILDING D...,NaN,NaN,NaN,NaN,NaN,17
3,SMDBREF :,NaN,SMDB-GN2B,NaN,NaN,NaN,NaN,CONSULTANT :,8
4,SR.,CIRCUIT,SP/,RATING - AMPS,NaN,NaN,FAULT,PVC/XLPE,20
5,NO,FEEDER\nDB NO.,TP,ACB,MCCB,MCB,DUTY\nKA,SWA/PVC/SC,20
6,NaN,INCOMER,TP,NaN,500\n(N/A),NaN,35,XLPE/SWA/PVC,0
7,NaN,OUTGOING,NaN,NaN,NaN,NaN,NaN,NaN,0
8,1,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,18
9,2,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,17
10,3,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,14
11,4,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,16
12,5,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,12
13,6,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,10
14,7,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,9
15,8,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,10
16,9,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,10
17,10,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,9
18,11,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,6
19,12,BAY AREA,TP,NaN,63,NaN,35,XLPE/SWA/PVC,5
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [19]:
combined_df = pd.concat(cleaned_dfs.values(), ignore_index=True)

# Count occurrences of each product in the first column
product_counts = combined_df.iloc[:, 0].value_counts().to_dict()

# Add the count column to each DataFrame in cleaned_dfs
for key, df in cleaned_dfs.items():
    # Ensure we're working with a copy of the DataFrame to avoid SettingWithCopyWarning
    df_copy = df.copy()
    
    # Add the count column
    df_copy.loc[:, 'Count'] = df_copy.iloc[:, 0].map(product_counts).fillna(0).astype(int)
    
    # Update the DataFrame in the dictionary
    cleaned_dfs[key] = df_copy

print('Count column has been added as integers to all DataFrames in cleaned_dfs.')

Count column has been added as integers to all DataFrames in cleaned_dfs.

In [34]:
cleaned_dfs['df10']

,Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd.,POLE,FS/IS,ACB/MCCB,MCB,FAULT DUTY,Unnamed: 6,Unnamed: 7,Count
0,PAGE - SCH - 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,IAN BANHAM & ASSOCIATES,ELECTRICAL,NaN,NaN,NaN,NaN,NaN,NaN,20
2,PROJECT :,B+G+M+1 FLOOR CAR SHOWROOM & OFFICE BUILDING D...,NaN,NaN,NaN,NaN,NaN,NaN,17
3,SMDB REF :,SMDB - BE2,NaN,NaN,NaN,NaN,NaN,CONSULTANT :,7
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,SR.,CIRCUIT,SP/,RATING - AMPS,NaN,NaN,FAULT,PVC/XLPE,20
6,NO,FEEDER\nDB NO.,TP,ACB,MCCB,MCB,DUTY\nKA,SWA/PVC/SC,20
7,NaN,INCOMER,TP,NaN,125\n(N/A),NaN,30,FIRE PROOF,0
8,NaN,OUTGOING,NaN,NaN,NaN,NaN,NaN,NaN,0
9,1,DB-BE2,TP,NaN,40,NaN,30,FIRE PROOF,18
10,2,WATER BOOSTER PUMP,TP,NaN,32,NaN,30,XLPE/SWA/PVC,17
11,3,SUMP PUMP-3,TP,NaN,20,NaN,30,XLPE/SWA/PVC,14
12,4,SUMP PUMP-1,TP,NaN,20,NaN,30,XLPE/SWA/PVC,16
13,5,SUMP PUMP-4,TP,NaN,20,NaN,30,XLPE/SWA/PVC,12
14,6,SEWAGE PUMP,TP,NaN,20,NaN,30,XLPE/SWA/PVC,10
15,7,CPEF,TP,NaN,40,NaN,30,XLPE/SWA/PVC,9
16,8,CPEF,TP,NaN,40,NaN,30,XLPE/SWA/PVC,10
21,SMDB - BE2,CONNECTED TO,NaN,NaN,MDB-E,NaN,TOTAL CONNECTED LOAD PER PHASE,NaN,1
22,NaN,DEMAND FACTOR…… MAX. DEMAND…...…kW TOTAL CONNE...,NaN,NaN,NaN,NaN,NaN,NaN,0
23,NaN,CONSULTANTS : M/S. IAN BANHAM AND ASSOCIATES,NaN,NaN,NaN,NaN,NaN,NaN,0
24,NaN,Type of Meter (Rating of Incomer) :,NaN,NaN,NaN,(1) UPTO 60A,NaN,NaN,0
25,NaN,NaN,NaN,NaN,NaN,(1 PHASE),NaN,NaN,0
26,NaN,NaN,NaN,* REFER SINGLE LINE DIAGRAM FOR ELCB RATING,NaN,NaN,NaN,NaN,0

In [54]:
lv_dfs = []
smdb_dfs = []
db_dfs = []
other_dfs = []

# Define the pattern for the product name
product_pattern = "REF:"  # Matches any string containing "REF:"

# Iterate over each DataFrame in cleaned_dfs
for key, df in cleaned_dfs.items():
    print(f"Processing DataFrame: {key}")
    
    # Limit checking to the first 7 rows
    rows_to_check = df.head(7)
    
    # Check if the DataFrame contains any product name with "REF:" in the first column of the first 7 rows
    matching_rows = rows_to_check[rows_to_check.iloc[:, 0].str.contains(product_pattern, regex=True, na=False)]
    
    print(f"Matching rows in DataFrame {key}:")
    print(matching_rows)
    
    if not matching_rows.empty:
        # Check the values in the first 3 columns and classify accordingly
        for _, row in matching_rows.iterrows():
            # Ensure columns exist
            if df.shape[1] >= 3:
                first_column_value = str(row.iloc[0]).strip()
                second_column_value = str(row.iloc[1]).strip()  # Convert to string to avoid issues
                third_column_value = str(row.iloc[2]).strip()
                
                print(f"Row values: {first_column_value}, {second_column_value}, {third_column_value}")
                
                if "LV" in first_column_value or "LV" in second_column_value or "LV" in third_column_value:
                    lv_dfs.append(df)
                    break  # Prevent adding the same DataFrame multiple times
                elif "SMDB" in first_column_value or "SMDB" in second_column_value or "SMDB" in third_column_value:
                    smdb_dfs.append(df)
                    break  # Prevent adding the same DataFrame multiple times
                elif "DB" in first_column_value or "DB" in second_column_value or "DB" in third_column_value:
                    db_dfs.append(df)
                    break  # Prevent adding the same DataFrame multiple times
                else:
                    other_dfs.append(df)
                    break  # Prevent adding the same DataFrame multiple times

# Concatenate DataFrames for each category
lv_df = pd.concat(lv_dfs, ignore_index=True) if lv_dfs else pd.DataFrame()
smdb_df = pd.concat(smdb_dfs, ignore_index=True) if smdb_dfs else pd.DataFrame()
db_df = pd.concat(db_dfs, ignore_index=True) if db_dfs else pd.DataFrame()
other_df = pd.concat(other_dfs, ignore_index=True) if other_dfs else pd.DataFrame()

print('DataFrames have been categorized and combined into LV, SMDB, DB, and Others.')

# Optionally, check the lengths of the lists to ensure they contain DataFrames
print(f"Number of DataFrames in LV: {len(lv_dfs)}")
print(f"Number of DataFrames in SMDB: {len(smdb_dfs)}")
print(f"Number of DataFrames in DB: {len(db_dfs)}")
print(f"Number of DataFrames in Others: {len(other_dfs)}")

Processing DataFrame: df1
Matching rows in DataFrame df1:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., Count]
Index: []
Processing DataFrame: df2
Matching rows in DataFrame df2:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df3
Matching rows in DataFrame df3:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df4
Matching rows in DataFrame df4:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df5
Matching rows in DataFrame df5:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df6
Matching rows in DataFrame df6:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df7
Matching rows in DataFrame df7:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df8
Matching rows in DataFrame df8:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df9
Matching rows in DataFrame df9:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df10
Matching rows in DataFrame df10:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df11
Matching rows in DataFrame df11:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df12
Matching rows in DataFrame df12:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df13
Matching rows in DataFrame df13:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df14
Matching rows in DataFrame df14:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df15
Matching rows in DataFrame df15:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df16
Matching rows in DataFrame df16:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df17
Matching rows in DataFrame df17:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df18
Matching rows in DataFrame df18:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df19
Matching rows in DataFrame df19:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df20
Matching rows in DataFrame df20:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
Processing DataFrame: df21
Matching rows in DataFrame df21:
Empty DataFrame
Columns: [Evaluation Only. Created with Aspose.PDF. Copyright 2002-2024 Aspose Pty Ltd., POLE, FS/IS, ACB/MCCB, MCB, FAULT DUTY, Unnamed: 6, Unnamed: 7, Count]
Index: []
DataFrames have been categorized and combined into LV, SMDB, DB, and Others.
Number of DataFrames in LV: 0
Number of DataFrames in SMDB: 0
Number of DataFrames in DB: 0
Number of DataFrames in Others: 0

In [48]:
smdb_df

Empty DataFrame
Columns: []
Index: []

In [24]:
from IPython.display import display, HTML
import os

file_path = 'categorized_dataframes.xlsx'

# Create an Excel writer object using openpyxl
with pd.ExcelWriter(file_path, engine='openpyxl') as writer:
    # Ensure at least one DataFrame is written to ensure visibility
    sheets_written = False

    if not lv_df.empty:
        lv_df.to_excel(writer, sheet_name='LV', index=False)
        sheets_written = True
    if not smdb_df.empty:
        smdb_df.to_excel(writer, sheet_name='SMDB', index=False)
        sheets_written = True
    if not db_df.empty:
        db_df.to_excel(writer, sheet_name='DB', index=False)
        sheets_written = True
    if not other_df.empty:
        other_df.to_excel(writer, sheet_name='Others', index=False)
        sheets_written = True

    # Check if any sheets were actually written
    if not sheets_written:
        raise ValueError("No DataFrames were written to the Excel file. Ensure at least one DataFrame has data.")

# Check if the file exists and is not empty
if os.path.exists(file_path) and os.path.getsize(file_path) > 0:
    # Create a download link
    download_link = f'<a href="{file_path}" download>Click here to download the Excel file</a>'
    display(HTML(download_link))
else:
    print('File creation failed or file is empty.')

print(f'DataFrames have been saved to {file_path}.')

IndexError: At least one sheet must be visible